<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
            <%= link_to 'Poster-gram', root_path %>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to 'New Post', new_post_path %></li>
      <li><%= link_to 'Login', root_path %> </li>
      <li><%= link_to 'Register', root_path %> </li>
    </ul>
  </div>
</nav>

<div class="container">
  <%= flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>
</div>
    <%= yield %>
  </body>
</html>
